setup.cfg
.pypirc
res.txt
workflow_test.py
cibuildwheel.toml
setup_1.py
setup.py
environment_1.yml
/HyperGP/src/*.so
tensor_test.py

/_skbuild
/wheelhouse
/docs/build/
build/
dist/
/HyperGP.egg-info


